:root {
	--main-bg-color: #252525;
	--secondary-bg-color: #636363;
	--text-color: #fbfbfb;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	max-width: 960px;
	margin: 0 auto;
}

header {
	background: var(--main-bg-color);
	padding: 20px 10px;
}

header h2 {
	font-family: Poppins;
	font-size: 24px;
	color: var(--text-color);
	text-transform: uppercase;
}

main.container {
	display: block;
	background: var(--main-bg-color);
	margin-top: 60px;
	padding: 20px 60px;
	border-radius: 5px;
}

main.container h1 {
	font-family: Poppins;
	font-size: 36px;
	color: var(--text-color);
	text-transform: uppercase;
}

.todo-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, 1fr);

	width: 560px;
	height: 255px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 25px;
	border-radius: 5px;
	background: var(--secondary-bg-color);
}

.todo input[type="checkbox"] {
	height: 20px;
	width: 20px;
}

.todo p {
	display: inline-block;

	font-family: Poppins;
	color: var(--text-color);
	text-transform: uppercase;
	margin-left: 20px;
}

form {
	margin-bottom: 60px;
}

form span {
	display: block;
	font-family: Poppins;
	font-size: 24px;
	text-transform: uppercase;
	color: var(--text-color);
}

form input {
	width: 340px;
	padding: 10px 10px;
	border-radius: 5px;
	outline: none;
	margin-right: 15px;

	font-family: Poppins;
	color: #000;
}

form button {
	padding: 8px 20px;
	border-radius: 5px;
	border: 1px solid var(--text-color);
	outline: none;
	background: none;

	font-family: Poppins;
	font-size: 14px;
	color: var(--text-color);
	cursor: pointer;
}
